//Brand
$mh-brand-primary: #414141;
$mh-brand-primary_light: #616161;
$mh-brand-secondary: #03A9F4;
$mh-brand-details: #FF5630;
//Primary
$mh_primary_050: #FAFAFA;
$mh_primary_100: #F5F5F5;
$mh_primary_200: #EEEEEE;
$mh_primary_300: #E0E0E0;
$mh_primary_400: #BDBDBD;
$mh_primary_500: #9E9E9E;
$mh_primary_600: #757575;
$mh-primary_700: #616161;
$mh_primary_800: #414141;
$mh_primary_900: #212121;
//Seconday
$mh_secondary_050: #E1F5FE;
$mh_secondary_100: #B3E5FC;
$mh_secondary_200: #81D4FA;
$mh_secondary_300: #4FC3F7;
$mh_secondary_400: #29B6F6;
$mh_secondary_500: #03A9F4;
$mh_secondary_600: #039BE5;
$mh-secondary_700: #0288D1;
$mh_secondary_800: #0277BD;
$mh_secondary_900: #01579B;
//Status Success
$mh_success_bg: #E4F8EE;
$mh_success_light: #86E7C7;
$mh_success_medium: #00CC88;
$mh_success_dark: #008648;
//Status Warning
$mh_warning_bg: #FFF8E1;
$mh_warning_light: #FFDE7B;
$mh_warning_medium: #FFC925;
$mh_warning_dark: #D2A500;
//Status Danger
$mh_danger_bg: #FEE7E5;
$mh_danger_light: #FFA289;
$mh_danger_medium: #FF5E33;
$mh_danger_dark: #E32000;
//Status Neutral
$mh_neutal_white: #FFFFFF;
$mh_neutal_bg: #F5F5F5;
$mh_neutral_xlight: #CBCBCB;
$mh_neutal_light: #9E9E9E;
$mh_neutal_medium: #757575;
$mh_neutal_dark: #616161;
$mh_neutal_black: #212121;

$mh-text-color-default: $mh_primary_800;
$mh-text-color-disabled: $mh_primary_500;
$mh-text-color-error: $mh_danger_dark;
$mh-text-color-active: $mh_secondary_800;
$mh-text-color-link: $mh_secondary_800;